<html>
<head>
	<title>Ameobot Management Console</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script>
		var chart; // global
		
		var socket = new WebSocket("ws://52.91.212.83:7507");
		socket.onmessage = function(text){ //TODO: Set handlers for different data types being sent back.
			var parsed = JSON.parse(text.data);
			console.log(text);
			var series = chart.series[0];
			//TODO: Shift only if period greater than 10 minutes
			//shift = series.data.length > 20; // shift if the series is longer than 20

			chart.series[0].addPoint([parsed.data.timestamp*1000, parsed.data.ask]);
		};

		$(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container'
					//defaultSeriesType: 'spline',
					/*events: {
						load: requestData
					}*/
				},
				title: {
					text: 'Live random data'
				},
				xAxis: {
					type: 'datetime',
					tickPixelInterval: 150,
					maxZoom: 20 * 1000
				},
				yAxis: {
					minPadding: 0.2,
					maxPadding: 0.2,
					title: {
						text: 'Value',
						margin: 80
					}
				},
				series: [{
					name: 'Random data',
					data: []
				}]
			});		
		});
	</script>
</head>
<body>
	<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
</body>
</html>